.letra{
    color: rgb(0, 0, 0);
}
.carrito{
    width: 50%;
    margin: 0 auto;
    padding: 4%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton {
    font-size: 18px;
    color: black;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .boton:focus,
  .boton:hover {
    color: black;
  }
  
  .boton:focus:after,
  .boton:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .boton:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }