.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.911);
  z-index: 5;
  height: 70px;
  width: 100%;
  .header2{
    width: 100%;
  }
}
.icon {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
  margin: 20px;
}

.icon:focus,
.icon:hover {
  color: #cfcfcf;
}
.login {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
  margin: 20px;
}
.login:focus,
.login:hover {
  color: #cfcfcf;
}

.contenedorHeader{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .logo{
    height: 70px;
    margin-right: 2%;
    img{
      height: 70px;
    }
  }
}
.enlaces{
  margin-left: 2%;
}