.header {
  padding: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
  margin: 20px;
}

.icon:focus,
.icon:hover {
  color: #cfcfcf;
}
.login {
  font-size: 18px;
  color: black;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
  margin: 20px;
}
.login:focus,
.login:hover {
  color: #cfcfcf;
}
